* {
  box-sizing: border;
}

.Header {
  background-color: white;
  height: 100px;
  width: 100vw;
  margin-bottom: 5px;
  border-top: 1px solid #eee;
  box-shadow: 0 1px 5px rgba(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column;

  &__top {
    width: 1020px;
    margin: 8px auto 0;
    display: flex;
    &--logo {
      height: 34px;
      width: 135px;
      margin-right: 40px;
      position: relative;
      top: 3px;
    }
    &--search {
      height: 38px;
      width: 800px; 
      color: #333;
      background-color: #f5f5f5;
      padding: 0 40px 0 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
      line-height: 1.5;
    }
    &--icon {
      height: 40px;
      width: 40px;
      font-size: 14px;
      position: relative;
      top: 13px;
      left: -26px;
    }
  }

  &__bottom {
    height: 44px;
    width: 1020px;
    margin: 8px auto 0;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
  }
  &__category {
    margin-right: 22px;
  }
  &__tag {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    display: flex;
    &:hover {
      color: orange;
    }
  }
  &__right {
    display: flex;
  }
  &__notice {
    display: flex;
    margin-right: 22px;
    &--icon {
      color: #ccc;
      font-size: 20px;
      padding: 6px 10px 0 0;
    }
    &--text {
      color: #333;
      font-size: 14px;
      line-height: 32px;
      &:hover {
        color: orange;
      }
    }
  }
  &__mypage {
    display: flex;
    &--icon {
      height: 32px;
      width: 32px;
      background-color: #eee;
      margin-right: 10px;
      border-radius: 100px;
    }
    &--text {
      color: #333;
      font-size: 14px;
      line-height: 32px;
      text-decoration: none;
      &:hover {
        color: orange;
      }
    }
  }
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 4px;
  position: relative;
  top: 8px;
}