*{
  box-sizing: border-box;
  text-decoration: none;
}
.aoiro{
  color: #3CCACE;
}
.Top{
  width: 100%;
  height: 560px;
  background-image: image-url('bg-mainVisual-pict_pc.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
}
.Button{
  display: flex;
  margin-top: 20px;
  &__apple {
    margin-right: 10px;
  }
  &__apple:hover {
    opacity: .6;
    cursor: pointer;
  }
  &__google:hover {
    opacity: .6;
    cursor: pointer;
  }
}
.Line{
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Content{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;

  &__title{
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
    font-weight: normal;
  }
  &__text{
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 18px;
    color: #fff;
    line-height: 1.77778;
    margin: 16px 0 0 0;
  }
}
.Middle{
  margin: 16px 0 0;
  padding: 60px 20px;

  &__comment{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

}
.Lists{
  max-width: 1020px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.List{
  width: 30%;
  margin: 16px 5% 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background-color: white;
  &__image{
    margin-bottom: 20px;
    position: relative;
  }
  &__number{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4%;
    font-size: 30px;
    text-align: center;
    margin: 0 5px 0 0;
    padding: 10px 20px;
    background-color: #3CCACE;
    color: #fff;
  }
  &__text{
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin: 0 0 0 2px;
    
  }
  &__comment{
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 0;
    text-align: left;
  
  }
}
.Center{
  background-image: image-url('bg-topMiddleDl-pict.jpg');
  background-size: cover;
  background-position: bottom right;
  height: 400px;
  align-items: center;
  display: flex;
  &__textBox{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }
  &__title{
    font-size: 27px;
    font-weight: bold;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  &__text{
    font-size: 18px;
    margin: 20px 0 30px;
    line-height: 1.5;
  }
}
.Feature{
  padding: 60px 100px;
  background-color: #fff;
  &__Head{
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  &__Icons{
    max-width: calc(1040px + 20px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &__Icon{
    display: flex;
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    text-align: center;
    padding: 0 20px;
    &--image{
      width: 70%;
      margin: 0 auto;
      line-height: 120px;
    }
    &--title{
      margin: 38px 0 10px;
      font-size: 19px;
      font-weight: bold;
    }
    &--text{
      margin: 0 0 40px;
      font-size: 17px;
      font-weight: 200;
      text-align: left;
    }
  }
}

.Pickup{
  padding: 80px 0 40px 0;
  background-color: #f8f8f8;
  height: 100%;
  display: block;
  &__head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.Product{
  &__title{
    text-align: center;
  }
  &__lists{
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
  }
  &__list{
    width: 220px;
    display: inline-block;
    float: left;
   }
  &__image{
    width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
  }
  &__date{
    background-color: white;
    color: #333;
    padding: 16px;
    &--name{
      overflow: hidden;
      line-height: 1.5;
      font-size: 16px;
      text-align: left;
    }
    &--price{
      font-size: 16px;
      text-align: left;
      p{
        font-size: 12px;
      }
    }
  }
}
.title{
  font-size: 24px;
  text-decoration: none;
  color: #3CCACE;
  font-weight: bold;
}

