.transaction-pay{
  background-color: rgb(245, 245, 245);
  &__logo{
    width: 185px;
    margin: 0 auto;
  }
  &__logo-img{
    margin-top: 40px;
    margin-bottom: 30px;
    height: 55px;
    width: 190px;
    object-fit: cover;
  }
  &__content{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  &__title{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 97px;
  }
  &__item{
    width: 700px;
    display: flex;
    justify-content: center;
    border-top: solid 0.5px rgb(240, 236, 236);
    border-bottom: solid 0.5px rgb(240, 236, 236);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 40px;
    margin-right: 20px;
  }
  &__item-box{
    min-width: 80px;
    max-width: 80px;
  }
  &__item-image{
    min-width: 80px;
    max-width: 80px;
  }
  &__item-detail{
    margin-left: 15px;
    max-width: 343px;
    &--name{
      margin-bottom: 10px;
      font-size: 14px;
      word-wrap: break-word;
    }
  }
  &__item-detail-price{
    display: flex;
    &--text{
      font-size: 13px;
      font-weight: bold;
    }
    &--shipping{
      font-size: 13px;
    }
  }
  &__table-inner{
    width: 700px;
    text-align: center;
  }
  &__table-form{
    width: 400px;
    margin: 0 auto;
  }
  &__table-content{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 32px;
    padding-bottom: 10px;
    color: #333333;
    border-bottom: solid 0.5px rgb(240, 236, 236);
  }
  &__table-pay{
    width: 400px;
    text-align: left;
    color: #333333;
  }
  &__table-price{
    display: flex;
    &--title{
      font-size: 25px;
    }
  }
  &__table-point {
    text-align: left;
    color: gray;
    width: 400px;
    padding-bottom: 20px;
    border-bottom: solid 0.5px rgb(240, 236, 236);
  }
  &__table-way{
    width: 400px;
    text-align: left;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 0.5px rgb(240, 236, 236);
    color: #0099E8;
    h3{
      font-weight: bold;
      color: #333333;
    }
  }
  &__table-buy{
    padding-top: 30px;
  }
  &__table-buy-button{
    width: 400px;
    height: 50px;
    background-color: #888888;
    color: white;
    font-size: 14px;
    border: 1px solid #888888;
  }
  &__botom{
    height: 90px;
    background-color: rgb(245, 245, 245);
  }
}
.futter-btns{
  margin: 30px;
  display: flex;
  justify-content: center;
  .f-letter {
    font-size: 12px;
    color: #2f2f2f;
    margin: 10px;
  }
}
.futter-logo {
  background-image: image-url('gray-1.png');
  background-size: cover;
  width: 43px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
}
.author {
  font-size: 10px;
  text-align: center;
}
