* {
  box-sizing: border;
}
h3 {
  font-weight: bold;
}

.wrapper {
  background-color: #f6f6f6;
  padding: 40px 0;
  display: flex;
}

.LinkList {
  width: 280px;
  margin-right: 40px;
  margin-left: calc(calc(100% - 1020px)/2);
  &__main {
    display: flex;
    flex-direction: column;
    &--list {
      color: #333;
      background-color: white;
      padding: 14px 16px;
      margin-top: 1px;
      font-size: 14px;
      text-decoration: none;
    }
    &--list:hover {
      background-color: #fafafa;
    }
  }
  &__config {
    display: flex;
    flex-direction: column;
    &--top {
      margin: 40px 0 8px 0;
      font-size: 16px;
      font-weight: bold;
    }
    &--list {
      color: #333;
      background-color: white;
      padding: 14px 16px;
      margin-top: 1px;
      font-size: 14px;
      text-align: left;
      text-decoration: none;
      &:hover {
        background-color: #fafafa;
      }
    }
  }
}

.UserData {
  width: 700px;
  &__data {
    background-color: #ddd;
    background-image: url("back.jpg");
    background-size: cover;
    height: 140px;
    padding: 20px;
    text-align: center;
    &--icon {
      background-color: #eee;
      background-image: url("icon.png");
      background-size: 85px 85px;
      width: 80px;
      height: 80px;
      margin: 25px auto 15px;
      border-radius: 100px;
    }
    &--name {
      font-weight: bolder;
    }
  }
  &__info {
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  &__notice {
    background-color: #eee;
    width: 50%;
    line-height: 60px;
    display: block;
  }
  &__contents1 {
    background-color: white;
    height: 400px;
  }
  &__bought {
    background-color: #fafafa;
    height: 70px;
    border-bottom: 2px solid #3ccace;
    padding-left: 20px;
    margin-top: 40px;
    line-height: 70px;
    display: black;
  }
  &__contents2 {
    background-color: white;
    height: 300px;
  }
}

#news {
  display: none;
}

.greater {
  float: right;
  opacity: 0.4;
  padding-right: 5px;
}

.noData {
  background-image: url('gray.png');
  background-size: 400px, 100px;
  width: 100px;
  height: 115px;
  margin: 0 auto;
  position: relative;
  top: 60px;
}
.noDataText {
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 70px;
}

.rightActive {
  background-color: white;
  border-bottom: 2px solid #3ccace;
}

.leftActive {
  color: #333;
  background-color: #eee;
  font-weight: bold;
  &:hover {
  background-color: #eee;
  }
}