.download
    %p だれでもかんたん、人生を変えるフリマアプリ
    %h1 今すぐ無料ダウンロード！
    .download_btn
        .apple
            = image_tag("apple.png", width: 180)
        .google
            = image_tag("google.png", width: 180)
.footer_bottom
    .menu
        .about
            %h1 FURIMAについて
            %ul
                %li 会社概要（運営会社）
                %li プライバシーポリシー
                %li FURIMA利用規約
                %li ポイントに関する特約
        .look
            %h1 FURIMAを見る
            %ul
                %li カテゴリー一覧
                %li ブランド一覧
        .help_guide
            %h1 ヘルプ＆ガイド
            %ul
                %li FURIMAガイド
                %li FURIMAロゴ利用ガイドライン
                %li お知らせ
    .logo_mark
        = image_tag("gray.png", width: 170)
        %p ©︎ FURIMA